.project_list {
    display: flex;
    justify-content: center;
}

.project_list .project {
    flex-basis: 150px;
    border: 1px solid black;
    margin: 5px;
}

.project_list .project .name {
    text-align: center;
}

.project_list .project p {
    
}